body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: .875em;
  color:#40514E;
}

div {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

hr {
  width: 4%;
  border: none;
  border-bottom: dotted 5px;
  color: lightgrey;
  margin: 100px auto

}

p {
  line-height: 2;
  padding: 10px;
}

.bottom {
  color: #EAF6F6;
  background-color: #66BFBF;
  padding: 100px;
  margin: 50px 0 0;


}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.btn {
  background: #11999E;
  display:inline-block;
  color: white;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 50px;
  font-family: "Montserrat"sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}

.Computer {
  width: 25%;
  margin-right: 30px;
  float: left;
  background-color: PowderBlue;

}

.footer-link {
  color: #11999E;
  padding: 30px;
}

.middle {
  font-weight: bold;
  margin: 100px 0;

}

.profile {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}

.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.Swiming {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
